
.modalWindow {
    width: 517px;
    height: 254px;
    color: white;
    background-color: #E74C3C;
    border-radius: 30px;
    margin: 0 auto;
}

.modalHeader {
    padding-bottom: 35px;
    padding-top: 35px;
    width: 100%;
    background-color: #D44637;
    border-radius: 30px 30px 0 0;

}

.modalHeaderTitle {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.closed {
    transform: rotate(45deg);
    cursor: pointer;
}

.open {
    display: flex !important;
}

.modalOverlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.568);
    display: flex;
}

